.award-item {
  margin-bottom: 1.1em;
}

.award-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.award-title a {
  color: $link-color;
  font-weight: 700;
  text-decoration: none;
}

.award-title a:hover {
  text-decoration: underline;
}

.award-meta {
  text-align: right;
  white-space: nowrap;
  font-size: 0.9em;
  color: #555;
}

.award-rank {
  color: $link-color;
  font-weight: 500;
  margin: 0.15em 0 0.25em 0;
}

.award-item ul {
  margin-top: 0.15em;
}
